<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.imlk.oneword">

    <!-- <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- android:sharedUserId="android.uid.systemui" -->
    <!-- android:process="com.android.systemui" -->
    <application
        android:name=".application.client.application.OneWordApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/GreenTheme">
        <activity
            android:name=".application.client.activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".application.client.activity.AllApiActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".application.client.activity.EditApiActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".application.client.activity.AdjustStyleActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".application.client.activity.CustomWordActivity"
            android:launchMode="singleTop" />

        <service
            android:name=".application.client.service.OneWordAutoRefreshService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:label="@string/service_name"
            android:priority="1000"
            android:process=":autorefresh" />

        <receiver
            android:name=".systemui.receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="OneWord - 锁屏一言模块\ndeveloper: imlk\ncoolapk: https://www.coolapk.com/apk/top.imlk.oneword" />
        <meta-data
            android:name="xposedminversion"
            android:value="36" />

        <meta-data
            android:name="InstallChannel"
            android:value="${InstallChannel}" />
        <!-- <provider -->
        <!-- android:name="net.grandcentrix.tray.provider.TrayContentProvider" -->
        <!-- android:authorities="top.imlk.oneword.tray" -->
        <!-- android:exported="false" -->
        <!-- android:process=":service" -->
        <!-- tools:replace="process" /> -->


        <!-- <provider -->
        <!-- android:name="net.grandcentrix.tray.provider.TrayContentProvider" -->
        <!-- android:authorities="top.imlk.oneword.tray" -->
        <!-- android:exported="false" -->
        <!-- android:process=":" /> -->


        <!-- android:multiprocess="true" -->
        <!-- tools:replace="android:multiprocess" -->
    </application>

</manifest>