<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.imlk.oneword">
    <!--android:sharedUserId="android.uid.systemui"-->
    <!--android:process="com.android.systemui"-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".client.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".client.OneWordAutoUpdateService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="true"
            android:label="@string/service_name"
            android:process=":autoupdate">

        </service>


        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="OneWord - 锁屏一言\ndeveloper: imlk\ncoolapk: https://www.coolapk.com/apk/top.imlk.oneword" />
        <meta-data
            android:name="xposedminversion"
            android:value="36" />

        <!--<provider-->
            <!--android:name="net.grandcentrix.tray.provider.TrayContentProvider"-->
            <!--android:authorities="top.imlk.oneword.tray"-->
            <!--android:exported="false"-->
            <!--android:process=":service"-->
            <!--tools:replace="process" />-->

        <!--<provider-->
            <!--android:name="net.grandcentrix.tray.provider.TrayContentProvider"-->
            <!--android:authorities="top.imlk.oneword.tray"-->
            <!--android:exported="false"-->
            <!--android:process=":" />-->

        <!--android:multiprocess="true"-->
        <!--tools:replace="android:multiprocess"-->
    </application>


    <!--<uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE" />-->
    <uses-permission android:name="permission android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>